.feed {
    border-radius: 0.5rem;
    flex: 1;
}

@media only screen and (max-width:990px) {
    .feed {
        flex: 0.7;
    }
}

@media only screen and (max-width:768px) {
    .feed {
        flex: 1;
    }
}

.feed__input {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.7rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.feed__input__top {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.feed__input__top>a>img {
    width: 65px;
    object-fit: cover;
    border-radius: 50%;
}

.feed__input__top>button {
    flex-grow: 1;
    padding: 1rem 0.5rem;
    text-align: left;
    border-radius: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-weight: 700;
}

.feed__input__top>button:hover {
    background-color: #ebebeb;
}

.feed__input__bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.feed__input__bottom>div {
    flex-direction: row !important;
    gap: 0.5rem;
    font-weight: 700;
    color: #969696;
    border-radius: 0.3rem;
    padding: 0.5rem 1.5rem !important;
}

.feed__input__bottom>div:hover {
    background-color: #ebebeb;
}

button.line {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0.3rem 0;
    cursor: pointer;
}

button.line hr {
    flex-grow: 1 !important;
    background-color: rgba(0, 0, 0, 0.05);
}

button.line .sorting {
    display: flex;
    align-items: center;
}

.feed__posts {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}