.sidebar {
    position: sticky;
    height: fit-content;
    top: 80px;
    flex: 0 0 225px;
    border-radius: 0.5rem;
    /* overflow: hidden; */
}

@media only screen and (max-width:990px) {
    .sidebar {
        flex: 0.3;
    }
}

@media only screen and (max-width:768px) {
    .sidebar {
        position: relative;
        top: 0;
        flex: 1;
    }
}

.sidebar__top {
    text-align: center;
    border-bottom: 1px solid rgba(95, 97, 99, 0.2);
    padding-bottom: 1rem;
    /* margin-bottom: 1rem; */
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.sidebar__top>img:first-child {
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-bottom: -43px;
}

.sidebar__top .avatar {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
}

.sidebar__top .avatar>img {
    width: 75px;
    object-fit: cover;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.user__name {
    font-weight: bold;
    font-size: 1.3rem;
    color: #191919;
}

.user__title {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: #5f6163;
}

.sidebar__bottom {
    padding: 0.7rem 0;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.sidebar__bottom>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
}

.sidebar__bottom>div:hover {
    background-color: #f0f2f5;
    width: 100%;
    cursor: pointer;
}

.sidebar__bottom>div:last-child p {
    margin-top: 0.5rem;
}

.sidebar__recent {
    padding: 0.3rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.groups {
    display: flex;
    align-items: center;
}

.groups>* {
    margin-left: 0.5rem;
    font-size: 0.9rem;
    color: #5f6163;
}