.signup {
    height: 100vh;
    position: relative;
}

.signup header {
    width: 100%;
}

.signup header>img {
    height: 65px;
    object-fit: cover;
    margin-left: 8rem;
}

.signup form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 2rem 1rem;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup>p {
    text-align: center;
    font-size: 2rem;
}

.signup form label {
    align-self: flex-start;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.signup form input {
    font-size: 1rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    padding: 0.5rem 0.5rem;
    border-radius: 0.3rem;
    /* margin-top: 1rem; */
    width: 100%;
    border-width: 1px;
}

.signup form input:focus {
    outline-color: blue;
}

.signup form input[type="submit"] {
    color: #fff;
    background-color: rgb(10, 102, 194);
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    margin-top: 2rem;
    padding: 0.8rem 0.5rem;
}

.signup form input[type="submit"]:hover {
    background-color: #004182;
}

.separator {
    font-size: 1.4rem;
    line-height: 1.42857;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding-top: 1rem;
}

.separator p {
    margin-top: 1rem;
    font-size: 1rem;
}

.separator p a {
    text-decoration: none;
    color: blue;
}